/*variables*/

$font-logo: 'Zhi Mang Xing', cursive;
$font-header: 'Teko', sans-serif;
$font-text: 'Oswald', sans-serif;

$color-1: #f39c12;
$color-2: #000;
$color-3: #fff;

/*global*/

body {
    text-align: center;
    font-family: $font-text;
    margin:0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/*splash*/

.splash {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/3635300/pexels-photo-3635300.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    object-fit: cover;
    position: relative;
}

.splash-inner {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-inner h3 {
    font-size: 50px;
    color: $color-3;
    font-family: $font-header;
}

.splash-inner h1 {
    font-size: 80px;
    color: $color-3;
    font-family: $font-header;
}

.splash-inner button {
    background-color: $color-1;
    font-family: $font-text;
    text-transform: uppercase;
    border: none;
    height: 50px;
    width: 140px;
}

.splash-inner button a {
    text-decoration: none;
    color: $color-3;
    font-size: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;

}

nav h3 {
    font-family: $font-logo;
    font-size: 30px;
    color: $color-1;
    padding-left: 5%;
    font-style: italic;
}

nav ul {
    display: flex;
    text-transform: uppercase;
    padding-right: 8%;
}

nav ul li {
    color: $color-3;
    list-style-type: none;
    padding: 20px;
}

/*services*/

.services .container {
    min-height: 500px;

}

.services .container .row {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.services i {
    font-size: 40px;
    color: $color-1;
}
